@font-face {
	font-family: 'YourFontName';
	src: url('/src/assets/fonts/Cera-Pro-Light.otf') format('cera pro'),
		url('/src/assets/fonts/Cera-Pro-Medium.otf') format('cera pro2');
	/* Add other font formats if needed */
	font-weight: normal;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Cera Pro', sans-serif;
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	background: #fbbf23;
	transform-origin: 0%;
}

.main-bg {
	background-image: url('./assets/images/hero-mockup.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 80% 40%;
	/* z-index: 10px; */
	/* height: 100vh; */
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animated-icon {
	animation: rotate 2s linear infinite;
}
